---
layout: homepage
title: Lee Williams portfolio
category: Overview
---


<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <section id="header" class="container-fluid">
            <div class="row">
                    
                <div class="listening-wrapper">
                    <p>I'm Listening to</p>
                </div>
    
                <div class="menu-wrapper">
                    <a href="#work" class="menu-button-wrapper theme-txt-orange">
                        <h5 class="menu-button">Work</h5>
                    </a>
                    <a href="#about" class="menu-button-wrapper theme-txt-orange">
                        <h5 class="menu-button">About</h5>
                    </a>
                    <a href="#contact" class="menu-button-wrapper theme-txt-orange">
                        <h5 class="menu-button">Contact</h5>
                    </a>
                    <a id="settings" class="menu-button-wrapper theme-txt-orange">
                        <h5 class="fa fa-cog"></h5>
                    </a>
                </div>
            </div>
            <div class="menu-setting-container">
                <a data-color="orange" class="menu-button-wrapper theme-txt-orange">
                    <h5 class="menu-button"><i class="fa fa-circle orange"></i> Creamsicle</h5>
                </a>
                <a data-color="blue" class="menu-button-wrapper theme-txt-orange">
                    <h5 class="menu-button"><i class="fa fa-circle blue"></i> Blue Jeans</h5>
                </a>
                <a data-color="brown" class="menu-button-wrapper theme-txt-orange">
                    <h5 class="menu-button"><i class="fa fa-circle brown"></i> Mud</h5>
                </a>
                <a data-color="black" class="menu-button-wrapper theme-txt-orange">
                    <h5 class="menu-button"><i class="fa fa-circle black"></i> Noir</h5>
                </a>
                <a data-color="green" class="menu-button-wrapper theme-txt-orange">
                    <h5 class="menu-button"><i class="fa fa-circle green"></i> Grün</h5>
                </a>
                <a data-color="red" class="menu-button-wrapper theme-txt-orange">
                    <h5 class="menu-button"><i class="fa fa-circle red"></i> Wine</h5>
                </a>
            </div>
        </section>

        <section id="intro" class="container-fluid theme-bg-orange">
            <div class="row">
                <!-- stupid trick to get font to load for canvas -->
                <div class="display-text hack" style="visibility: hidden; height: 0">?</div>
                <!--  -->
                <canvas id="canvas">
                    
                </canvas>
                <h1 class="display-text">Lee Williams</h1>
                <div class="tagline">
                    <h4 class="h4">Designer / Developer / Art Director / Creative-Type-Person</h4>
                </div>
            </div>
        </section>

        <section id="work" class="container-fluid">
            <div class="row filters-wrapper">
                <a id="filter-all" data-tag="all" class="filter-button-container theme-txt-orange">
                    <div class="filter-bg filter-bg-active"></div> 
                    <div class="filter-hightlight filter-hightlight-active theme-bg-orange"></div>
                    <div class="filter-text-wrapper filter-text-wrapper-active">
                        <i class="fa fa-th-large"></i>
                        <h5>all</h5>
                    </div>
                </a>
                <a id="filter-web" data-tag="web" class="filter-button-container theme-txt-orange">
                    <div class="filter-bg"></div> 
                    <div class="filter-hightlight theme-bg-orange"></div> 
                    <div class="filter-text-wrapper">
                        <i class="fa fa-desktop"></i>
                        <h5>web</h5>
                    </div>
                </a>
                <a id="filter-print" data-tag="print" class="filter-button-container theme-txt-orange">
                    <div class="filter-bg"></div> 
                    <div class="filter-hightlight theme-bg-orange"></div> 
                    <div class="filter-text-wrapper">
                        <i class="fa fa-book"></i>
                        <h5>print</h5>
                    </div>
                </a>
                <a id="filter-digital" data-tag="digital" class="filter-button-container theme-txt-orange">
                    <div class="filter-bg"></div> 
                    <div class="filter-hightlight theme-bg-orange"></div> 
                    <div class="filter-text-wrapper">
                        <i class="fa fa-github-alt"></i>
                        <h5>digital</h5>
                    </div>
                </a>
<!--                 <a id="filter-other" data-tag="other" class="filter-button-container theme-txt-orange">
                    <div class="filter-bg"></div> 
                    <div class="filter-hightlight theme-bg-orange"></div> 
                    <div class="filter-text-wrapper">
                        <i class="fa fa-briefcase"></i>
                        <h5>other</h5> 
                    </div>
                </a> -->
            </div>
        </section>

        <section id="work-samples" class="container-fluid">
            <div class="row">
                {% for post in site.posts %}
                <a class="sample-wrapper col-lg-3 col-md-4 col-sm-4 col-xs-12"href="{{ site.baseurl }}{{ post.url }}" data-tag="{{ post.data }}">
                    <img alt="{{ post.title }} thumbnail" src="{{ post.thumbnail }}">
                    <div class="sample-bg theme-bg-orange"></div> 
                    <div class="sample-desc-wrapper">
                        <h3>{{ post.title }}</h3>
                        <div class="sample-underline theme-bg-orange"></div>
                    </div>
                </a> 
                {% endfor %}   
            </div>      
        </section>

        <section id="about" class="container-fluid">
            <div class="row">
                <div class="about-container">
                    <div class="about-text col-md-6 col-sm-6 col-xs-12">
                        <h1 class="theme-txt-orange">Thanks for stopping by!</h1>
                        <p>I'm Arthur Lee Williams III. Yes, the third, which is why everyone has always used my middle name (Lee). I’m a designer who has worked in magazine publishing, a little internet startup, and now the government. I’m a jack of all design trades. I can sketch, wireframe, mock up, code, art-direct a photo shoot, make motion graphics and create funky Arduino electronic doohickeys. I love doing it all and I think my portfolio reflects this.  doing it all and I think my portfolio reflects this. 
                        <br><br>
                        When not working, I’m probably playing video games (PC ftw), working on my motorcycle compulsively, shooting (bow and arrow), playing tabletop games, and trying to find a bar with shuffleboard. 
                        <br><br>
                        If you are interested in working together, I'm available for freelance, contract or full-time work.  </p>
                    </div>

                    <div id="contact" class="col-md-6 col-sm-6 col-xs-12">
                        <div class="hero-image">
                            <img alt="my self portrait" src="static/img/portrait.jpg">
                        </div>
                        <div class="contact-email">
                            <h3 class="contact-label theme-txt-orange"><span class="fa fa-envelope"> Email</h3>
                            <a class="contact-link theme-txt-orange"><h4>pixeldot.lee@gmail.com</h4></a>
                        </div>
                        <div class="contact-git">
                            <h3 class="contact-label theme-txt-orange"><span class="fa fa-github"> Github</h3>
                            <a class="contact-link theme-txt-orange"><h4>https://github.com/ell0ell0</h4></a>
                        </div>
                    </div>
                </div>

            </div>
    
        </section> 

        {% include js_includes.html %}
        <script src="static/js/canvasStuff.js"></script>
    </body>
</html>